{% load static %}

<div class="container-fluid">
    <div class="row mt-0">
        <div class="col-sm-3  text-secondary">
            <h4>For Hospital</h4>
            <span>>>Search for hospital</span><br>
            <span>>>Login</span><br>
            <span>>>Register</span><br>
            <span>>>Hospital Dashboard</span>
        </div>
        <div class="col-sm-3  text-secondary">
            <h4>For Doctor</h4>
            <span>>>Search for Doctor</span><br>
            <span>>>Login</span><br>
            <span>>>Register</span><br>
            <span>>>Doctor Dashboard</span>
        </div>
        <div class="col-sm-3  text-secondary">
            <h4>For Patient</h4>
            <span>>>Appointment</span><br>
            <span>>>Login</span><br>
            <span>>>Register</span><br>
            <span>>>Patient Profile</span>
        </div>
        <div class="col-sm-3  text-secondary">
            <h4>For Contact Us</h4>
            <span>>>Gautam Nagar Bhopal MP</span><br>
            <span>>>+91 9155522863</span><br>
            <span>>>baleshwarkumar9285@gmail.com</span><br>
            <span></span>
        </div>
    </div>
    <div class="text-secondary text-center pt-3">
        <small>Copyright &copy; 2021; hospital and doctor services here!!</small>
    </div>
</div>