         {% load static %}
         <nav class="navbar navbar-expand-lg navbar-light py-0 " style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">
                <img src="{% static 'app/images/logodoc.jpg' %}" width="200px" height="35px" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link active py-3 px-4" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-3 px-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Doctors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'physician' %}">Physician</a>
                        <a class="dropdown-item" href="{% url 'dentist' %}">Dentist</a>
                        <a class="dropdown-item" href="#">Neurologist</a>
                        <a class="dropdown-item" href="#">Family Physicians</a>
                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-3 px-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hospitals
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'search1' %}">Search</a>            
                        
                    </li> 
                                     
                </ul>
                
                <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-3 px-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.user.username|capfirst}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'passwordchange' %}">changePassword</a>
                        <a class="dropdown-item" href="{% url 'adddoctor' %}">AddDoctors</a>                        
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>                        
                    </li>
                     {% comment %} <li class="nav-item mx-2"><a href="{% url 'add-to-cart' %}" class="nav-link"><span  classs="badge bg-danger">4</span> Cart</a></li>  {% endcomment %}
                    {% else %}
                    <li class="nav-item mx-2 "><a href="{% url 'login' %}" class="nav-link py-3 px-4">Login</a></li> 
                    
                    <li class="nav-item mx-2"><a href="{% url 'customerregistration' %}" class="nav-link py-3 px-3">Signup</a></li> 
                    {% endif %}
                </ul>
                <form method="get" action="/search" class="form-inline my-2 my-lg-0 mx-0">
                    <input class="form-control mr-sm-2"  name="q" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="" >Search</button>
                    </div>
                </form> 
            </div>
        </nav>